.scrol-pos {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  perspective: 0.1rem;
}

.scrol-pos-g {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

.scrol-pos-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scrol-pos-bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  transform: translateZ(-0.1rem) scale(2);
}

.scrol-pos-fg {
  transform: translateZ(-0.05rem) scale(1.5);
}

/*  */

.scrol-pos.invisible {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.scrol-pos.visible {
  opacity: 1;
  transform: translate(0, 0);
}